/* The sidepanel menu */
.sidepanel {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 72px;
  right: 0;
  background-color: #7AD1DB;
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.5s;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  color: white;
  display: block;
  transition: 0.3s;
  padding-top: 15px;
  padding-left: 15px;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu-icon-container {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding-top: 5px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
  background-color: white;
  color: var(--color-text);
  padding-left: 15px;
  border: none;
}

.openbtn:hover {
  color: var(--color-text);
}