/*Smartphones*/
@media (min-width: 320px) {}

/*Tablets*/
@media (min-width: 768px) {
    #desktop-menu {
        display: block;
    }
    .openbtn {
        display: none;
    }
    footer {
        background-color: var(--color-grey);
    }
}

/*Desktop*/
@media (min-width: 1024px) {
    .main-article-title {
        font-size: 1.65em;
    }
    .sub-article-title {
        font-size: 1.2em;
    }
    #footer-main-menu,
    #footer-sub-menu {
        justify-content: center;
    }

    #footer-main-menu .nav-item {
        padding: 0px 18px;
    }
    #footer-sub-menu .nav-item {
        padding: 0px 12px;
    }
    #footer-socials {
        padding-top: 0px;
    }
}