/*Roboto - From Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Reset CSS*/
* {
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
}

/*Color Variables*/
:root {
    --color-text: #333446;
    --color-category: #1BAABC;
    --color-grey: #B6B6B6;
}

body {
    color: var(--color-text);
}

/* Header Styles | Start */

#logo img {
    height: 50px;
}

.nav-item {
    text-transform: uppercase;
}

#mySidepanel {
    display: none;
}

#desktop-menu {
    display: none;
}

#desktop-menu a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
}

#responsive-navbar {
    border-bottom: 1px solid var(--color-text);
}

.facebook {
    color:#8199BF;
}
.twitter {
    color:#7ECAFB;
}
.youtube {
    color:#F37465;
}

/* Header Styles | End */

/* Main Styles | Start */
.main-news {
    border-right: 1px solid lightgrey;
}

.main-news img,
.secondary-news img {
    width: 100%;
}

.category {
    color: var(--color-category);
    text-transform: uppercase;
    text-align: left;
    font-size: 1em;
}

.main-article-title {
    color: var(--color-text);
    text-align: left;
    font-size: 1.1em;
}

.secondary-news {
    border-right: 1px solid lightgrey;
    padding-bottom:100px;
}

.secondary-news article {
    padding-bottom: 40px;
}

.sub-article-title {
    font-size: 0.7em;
    color: var(--color-text);
    text-align: left;
}
/* Main Styles | End */

/* Footer Styles | Start */
footer {
    background-color: var(--color-grey);
    color: white;
}

footer .container {
    padding:0;
}

#logo-footer {
    height: 50px;
}

#footer-main-menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#footer-main-menu .nav-item {
    padding: 0px 10px;
}

#footer-main-menu,
#footer-main-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#footer-sub-menu .nav-item {
    padding: 0px 12px;
}

#footer-sub-menu {
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
}

#footer-sub-menu,
#footer-sub-menu a {
    color: white;
    text-decoration: none;
}

.footer-col {
    padding: 0 !important;
}

.copyright {
    font-size: 0.8em;
}
/* Footer Styles | End */