/*Lato - From Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Lato', sans-serif; */

/*Reset CSS*/
* {
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
}

/*Color Variables*/
:root {
    --color-text: #333446;
    --color-category: #1BAABC;
    --color-grey: #B6B6B6;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--color-text);
}

/* Header Styles | Start */

/* Pure CSS Sticky Header */
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
}

#logo img {
    height: 40px;
}

.nav-item {
    text-transform: uppercase;
}

#desktop-menu {
    display: none;
}

#desktop-menu a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
}

#responsive-navbar {
    padding: 0;
    border-bottom: 1px solid var(--color-text);
}

#header-socials img {
    height: 14px;
    padding: 0px 8px;
}
.search-bar {
    border:none;
    width: 85%;
    margin-right: 5px;
}
/* Header Styles | End */

/* Main Styles | Start */
main {
    /*Security space to adjust sticky header*/
    padding-top: 72px;
}

.main-news {
    border-right: 1px solid lightgrey;
}

.main-news img,
.secondary-news img {
    width: 100%;
}

.category {
    color: var(--color-category);
    text-transform: uppercase;
    text-align: left;
    font-size: 1em;
}

.main-article-title {
    color: var(--color-text);
    text-align: left;
    font-size: 1.05em;
    font-weight: bold;
}

.secondary-news {
    border-right: 1px solid lightgrey;
    padding-bottom: 100px;
}

.secondary-news article {
    padding-bottom: 40px;
}

.sub-article-title {
    font-size: 0.7em;
    color: var(--color-text);
    text-align: left;
    font-weight: bold;
}

/* Main Styles | End */

/* Footer Styles | Start */
footer {
    background-color: #828282;
    color: white;
}

footer .container {
    padding: 0;
}

#logo-footer {
    height: 50px;
    padding-left: 18px;
}

#footer-main-menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 10px;
}

#footer-main-menu .nav-item {
    padding: 5px 10px;
}

#footer-main-menu,
#footer-main-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#footer-sub-menu .nav-item {
    padding: 5px 10px;
    font-size: 0.9em;
}

#footer-sub-menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 10px;
}

#footer-sub-menu,
#footer-sub-menu a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.footer-col {
    padding: 0 !important;
}

.copyright {
    font-size: 0.8em;
}

#footer-socials {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer-socials img {
    height: 15px;
    padding: 0px 10px;
}

/* Footer Styles | End */